@page "/"
@page "/mageknight"

<h1>Mage Knight</h1>
<hr/>

<p>
    <b>Partie 1</b><br/>
    <i>
        Dans ce paragraphe on retrouvera des règles rapides et globales permettant de rejouer au jeu sans se repancher dans le livret <br/>
        Dans une future version l'utilisateur pourra se créer un compte et modifier s'il le souhaite cette partie de règle en mettant ce qui l'intéresse le plus.
    </i>
</p>

<p>
    <b>Partie 2</b><br/>
    <i>Le test classique permet de savoir si oui ou non les cartes en main peuvent tuer le monstre</i><br/>
    <i>Le test avancé permet de savoir si les cartes en main peuvent tuer le monstre et avec la composition la plus optimal</i><br/><br/>
    <button class="btn btn-primary">Test</button> <button class="btn btn-primary">Test avancé</button>
    <div class="row mt-2">
        <div class="col-7">
            <Heroes></Heroes>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <Monsters></Monsters>
        </div>
    </div>
</p>

